.DogCard {
    text-decoration-line: none;
    color: #000;
    background-color: #eec99c;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 10px 0 var(--yellow);
    width: 300px; /* Tamaño fijo del contenedor */
    height: 700px; /* Tamaño fijo del contenedor */
    padding: 0.5rem;
    border-radius: 1.5rem;
    border-style: double;
    border-color: aliceblue;
    transform: scale(0.6);
    margin-top: 1rem;
    margin-bottom: -15rem;
    margin-left: -5rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Austie";
  }
.DogCard:hover{
    transform: scale(0.7);
}
.dogImage{
    padding: 5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    max-width: 15rem;
    max-height: 15rem; 
    border-radius: 6rem;
}
.tempTitle{
    font-weight: bolder;
}
.temperaments{
    display: grid;
    grid-template-columns: repeat(3, 2fr); /* Organiza en 2 columnas con el mismo ancho */
    gap: 0.2rem; /* Agrega un espacio entre los elementos */
    margin-top: -1rem;
    margin-bottom: -1rem;
}