.SearchBar {
    display: flex;
    margin-right: -2rem;
    margin-left: 26rem;
}

.Input {
    margin-right: 2px;
    margin-left: -38rem;
    padding: .5rem 1rem;
    border-color: #ffe9cf;
    border-radius: 2rem;
    font-family: "Austie";
    font-size: medium;
    background-color: #ceaa7e;
}

.search{
    max-height: 4rem;
    margin-left: .5rem;
}